
    <a href="/datas">Datas Home</a>
    <a href="/datas/new">Add a New Data</a>
<form action="/datas/search" method="POST" >
<input type="search" name="searchString" placeholder="Search by Data Name">
</form>
