*{
    font-family: "lobster";
}
a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #c5a214;
}
a:hover , button:hover {
    transform: scale(1.25);
}
body {
    text-align: center;
    box-sizing: border-box;
    background-color: #c5a214;
}
h1 {
    color: #36454F
}
header {
    display: flex;
    background-color: #36454F;
    color: #c5a214;    
    font-size: 1.5em;
    padding: 10px;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    gap: 1em;
}
.card {
    border: 5px solid  rgba(245, 245, 245, 0.501);
    background-color: #36454F;
    width: 20vw;
    border-radius: 15px;
}
.card > img {
    width: 20vw;
    height: 15vw;
}
.card > img:hover {
    transform: scale(2);
}
.info-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #36454F;
    color: #c5a214; 
    width: 90vw;
    margin: auto;
}
.info-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #36454F;
    color: #c5a214; 
    width: 90vw;

}
.info-container>img {
    align-self: center;

}
img {
    border-radius: 15px;
    width: 65vw;
}
ul,li {
    list-style: none;
    padding: 0;
}
.show {
    color: whitesmoke;
}
.delete {
    background-color: red;
}
.edit {
    background-color: blue;
}