

*{
    font-family: "lobster";
    font-size: 1.025em;
}
a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #c5a214;
}
a:hover , button:hover, input.delete:hover {
    transform: scale(1.25);
}
body {
    text-align: center;
    box-sizing: border-box;
    background-color: #c5a214;
}
h1 {
    color: #36454F;
    font-size: 2em;
}
h3 {
    color: #c5a214;
    font-size: 1.25em;
}
header {
    display: flex;
    background-color: #36454F;
    color: #c5a214;    
    font-size: 1.5em;
    padding: 10px;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    gap: 1em;
}
.card {
    border: 5px solid  rgba(245, 245, 245, 0.501);
    background-color: #36454F;
    width: 20vw;
    border-radius: 15px;
}
.card > a > img {
    width: 20vw;
    height: 15vw;
}
.card > a > img:hover {
    transform: scale(2);
}
.info-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #36454F;
    color: #c5a214; 
    width: 90vw;
    margin: auto;
    font-size: 1.5em;
}

img {
    border-radius: 15px;
}
.info-container > img {
    align-self: center;
}

.carousel {
    display: none;
    width: 35vw;
    height: 50vw;
}
/* .carousel:first-of-type {
display: block;
} */
ul,li {
    list-style: none;
    padding: 0;
}
.show {
    color: whitesmoke;
}
.delete {
    background-color: red;
}
.edit {
    background-color: blue;
}

#flex-show {
    display: flex;
   align-items: center;
    justify-content: center; 
    gap: 2em;
}
span  {
    display: flex;
    font-size: 2em;
    cursor: pointer;
}
.previous:hover , .next:hover {
    transform: scale(1.25);
    
}